/* Colors */
$black: #000;
$white: #fff;

$md-primary-color: #ee2826;
$dk-primary-color: #9c0204;

$lt-secondary-color: #f2f2f2;
$md-secondary-color: #1e1e1e;
$md-dk-secondary-color: #1e1e1e; 
$dk-secondary-color: #1e1e1e;

$dk-grey: #6F6F6F;

$error: #d0021b;

$column: 80px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1364px;
$max-page-width: 2000px;
$container-padding: 42px;
$large-container-padding: 42px;
$small-container-padding: 20px;


/* Margin topa nd bottom on block element items */
$large-block-margin: 30px;
$small-block-margin: 20px;

/* Margin on position-right and left floated items */
$large-position-margin: 35px;
