.interior {
  border-bottom: 1.5px solid $md-secondary-color;
}

.interior-container {
  @extend %clearfix;
  padding-top: 20px;
  padding-bottom: 25px;
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  padding-left: $small-container-padding;
  padding-right: $small-container-padding;

  @include mq($from: medium) {
    padding-left: $large-container-padding;
    padding-right: $large-container-padding;
    padding-top: 10px;
  }

  &.no-header-image {
    padding-top: 65px;
  }

  .interior-content {
    float: left;
    width: 100%;
    padding-bottom: 0;

    @include mq(900px) {
      padding-bottom: 20px;
    }

    @include mq($from: medium) {
      width: calc(100% - 340px);
      margin-right: 40px;
    }

    @include mq($from: medium) {
      padding-bottom: 20px;
    }
  }

  .interior-aside {
    width: 100%;
    float: left;
    margin-top: 40px;

    @include mq($from: medium) {
      width: 300px;
      margin-top: 0;
    }
  }
}
