.news-section {
  padding-top: 25px;

  @include mq(medium) {
    padding-top: 100px;
  }

  .container {
    padding-left: $small-container-padding;
    padding-right: $small-container-padding;
    
    @include mq($from: medium) {
      padding-left: $large-container-padding;
      padding-right: $large-container-padding;
    }
  }

  .news-listing {
    margin-bottom: 30px;

    @include mq(small) {
      margin-bottom: 70px;
    }
  }

  .newsletter {
    margin-top: 20px;
    margin-bottom: 40px;

    @include mq(small) {
      margin-top: 80px;
    margin-bottom: 80px;
    }
  }
}

.news-listing {
  @include flex-grid($col-class: 'news-list-column', $col-number: 1, $gutter-v: 30px, $gutter-h: 0px, $until: large);
  @include flex-grid($col-class: 'news-list-column', $col-number: 2, $gutter-v: 30px, $gutter-h: 30px, $from: large);
  margin-bottom: 10px;

  .news-list-column {
    margin-bottom: 60px;

    @include mq(medium) {
      margin-bottom: 70px;
    }
  }
}

.featured-news-listing {
  @include flex-grid($col-class: 'news-list-column', $col-number: 1, $gutter-v: 30px, $gutter-h: 0px);
  margin-bottom: 10px;

  .news-list-column {
    margin-bottom: 50px;

    @include mq(medium) {
      margin-bottom: 70px;
    }
  }

  .news-list-article {
    figure {
      width: 500px;
      flex: 0 0 500px;
      max-width: 500px;

      &::after {
        right: 470px;
      }
    }

    .news-content {
      flex: 1 0 calc(100% - 500px);
      max-width: 100%;
      z-index: 3;
      padding: 20px;

      @include mq(small) {
        padding: 31px;
      }

      &.news-image {
        h3 {
          &::after {
            width: 65px;
            right: -65px;
          }
        }
      }
    }

  }
}

.news-list-article {
  padding: 0px 0 0px 0;
  display: flex;
  @extend %clearfix;
  position: relative;
  height: 100%;
  background: $lt-secondary-color;

  *:last-child {
    margin-bottom: 0;
  }

  p:last-of-type() {
    margin-bottom: 10px;
    line-height: 1;
  }

  figure {
    display: none;

    @include mq(medium) {
      float: left;
      margin: 0;
      display: block;
      width: 255px;
      flex: 0 0 255px;
      max-width: 255px;
      background-size: cover;
      background-position: center;
      position: relative;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      line-height: 1;
      font-size: 0;
      height: calc(100% - 1px);
    }
  }

  .btn {
    position: absolute;
    right: 0;
    bottom: -48px;
  }

  .news-content {
    display: inline-block;
    padding: 23px 31px;
    position: relative;
    width: 100%;
    flex: 1 0 100%;
    max-width: 100%;
    z-index: 3;
    background: $lt-secondary-color;

    @include mq(medium) {
      flex: 0 0 100%;
    }

    h3 {
      margin-bottom: 0;
      font-weight: 500;
      @include responsive-font(20px, 32px);
      color: $md-secondary-color;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 2px solid $md-primary-color;
      position: relative;

      @include mq(medium) {
        &::after {
          content: '';
          height: 2px;
          width: 30px;
          position: absolute;
          right: -30px;
          bottom: -2px;
          background: $md-primary-color;
        }
      }
    }

    &.news-image {
      @include mq(medium) {
        flex: 0 0 calc(100% - 255px + 140px);
        -webkit-clip-path: polygon(0 0, 100% 0%, 87% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 87% 100%, 0% 100%);

      }

      @include mq(large) {
        flex: 0 0 calc(100% - 255px + 90px);
      }

    }
  }
}