/* custom select variables */
$custom-select-border-width: 2px;
$custom-select-border-radius: 0;
$custom-select-shadow: none;
$custom-select-text-color: #000;
$custom-select-text-color-focused: #000;
$custom-select-background-color: #FFF;
$custom-select-background-color-focused: #FFF;
$custom-select-border-color: $md-secondary-color;
$custom-select-border-color-focused: $md-primary-color;
$custom-select-arrow-border-radius: 0;
$custom-select-arrow-color: #FFF;
$custom-select-arrow-background-color: #444;

/* Container used for styling the custom select, the buttom class below adds the
 * bg gradient, corners, etc. */
.custom-select {
  @include responsive-font(16px, 30px);
  color: $custom-select-text-color;
  background-color: $custom-select-background-color;
  position: relative;

  /* This is the native select */
  select {
    border: 0;
    border-right: 2px solid $md-secondary-color;
    border-bottom: 2px solid $md-secondary-color;
    width: 100%;
    margin: 0;
    outline: none;
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-left: 0em;
    background: transparent;
    color: $md-secondary-color;

    /* Prefixed box-sizing rules necessary for older browsers */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:focus {
      border-color: $md-primary-color;
      box-shadow: none;
    }
  }

  /* Custom arrow sits on top of the select - could be an image, SVG, icon font,
   * etc. or the arrow could just baked into the bg image on the select. */
  &::before,
  &::after {
    color: $md-primary-color;
    position: absolute;
    display: block;
    z-index: 2;

    /* Arrow positioning */
    font-size: 0.7em;
    width: 2.2em;
    border: 0;

    /* These hacks make the select behind the arrow clickable in some browsers */
    pointer-events: none;
  }

  &::after {
    content: "";
    text-align: center;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 12px;
    border-color: transparent transparent transparent $md-primary-color;
    right: 37px;
    bottom: 15px
    
  }

  /* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $custom-select-text-color-focused;
  }

  /* Firefox <= 34 has a false positive on @supports( -moz-appearance: none )
   * @supports ( mask-type: alpha ) is Firefox 35+
   */
  @supports ( -webkit-appearance: none ) or ( appearance: none )
    or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {

    /* Show custom arrow */
    &::before,
    &::after {
      display: block;
    }

    /* Remove select styling */
    select {
      padding-right: 60px;
      /* inside @supports so that iOS <= 8 display the native arrow */
      /* inside @supports so that Android <= 4.3 display the native arrow */

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    select:focus {
      border-color: $custom-select-border-color-focused;
    }
  }

  /* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance. Targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
  /* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    select::-ms-expand {
      display: none;
    }
    select:focus {
      border-width: $custom-select-border-width;
      border-color: $custom-select-border-color-focused;
      border-style: solid;
    }
    select:focus::-ms-value {
      color: $custom-select-text-color-focused;
      background: transparent;
    }
    select {
      padding-right: 0.5em;
      background: none;
    }
    &::before,
    &::after {
      display: block;
    }
  }
}

// hide dropdown arrow on ie9
.ie9 {
  .custom-select {
    select {
      padding-right: 0.5em;
    }
  }
}
