.sg-colors {
  @extend %clearfix;

  li {
    display: block;
    float: left;
    margin: 10px;
  }
}

.sg-swatch {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

.styleguide {
  padding-top: 50px;
  padding-bottom: 50px;

  hr {
    display: block;

    @extend %block-margin;
    @extend %clearfix;
  }

}

.sg-subheading {
  border-bottom: 2px solid #666;
  margin-top: 60px;
  margin-bottom: 30px;
}

.sg-element {
  @extend %clearfix;
}

.sg-dark-bg {
  background-color: #898989;
}

.bg {
  &.black {
    background: $black;
  }

  &.white {
    background: $white;
  }

  &.error {
    background: $error;
  }

  &.md-primary-color {
    background: $md-primary-color;
  }

  &.dk-primary-color {
    background: $dk-primary-color;
  }

  &.lt-secondary-color {
    background: $lt-secondary-color;
  }

  &.md-secondary-color {
    background: $md-secondary-color;
  }
}
